header.dashboard-header {
  background-color: #cee7ff !important;
  border-bottom-color: #00519e !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://sebia-emea-public.s3.eu-west-3.amazonaws.com/Logo.png") !important;
}

.page-description::before {
  content: "You will find here all the applications of Sebia ecosystem";
  display: block; /* Assure que le texte s'affiche */
  visibility: visible;
}

.page-description {
  visibility: hidden; /* Cache le texte original */
}



